{% extends "base.html" %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

{% block main %}

<div class="page-banner overlay-dark bg-image" style="background-image: url(
  {% for a in slidecontext  %}
 {{ a.slide.url }}
{% endfor %}
);">

 <div class="banner-section">
   <div class="container text-center wow fadeInUp">
     <nav aria-label="Breadcrumb">
       <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
         <li class="breadcrumb-item"><a href="{% url 'Index_View' %}">Home</a></li>
         <li class="breadcrumb-item active" aria-current="page">Category</li>
       </ol>
     </nav>
     <h1 class="font-weight-normal">Category</h1>
   </div> <!-- .container -->
 </div> <!-- .banner-section -->
</div> <!-- .page-banner -->
<div class="container"> 
  <div class="row">
    <div class="col-lg-8">
      <nav aria-label="Breadcrumb">
        <ol class="breadcrumb bg-transparent py-0 mb-5">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="blog.html">Blog</a></li>
          <li class="breadcrumb-item active" aria-current="page">List of Countries without Coronavirus case</li>
        </ol>
      </nav>
    </div>
  </div> <!-- .row --> 
  <p class ="estetika2"> մազահեռացո </p>
  <div class="Glavni_div">
    <div class="content-wrapper">
   {% for catfirs in products %}
     
   <div class="news-card ">
     <a href="" class="news-card__card-link"></a>
     <img src="{{ catfirs.image.url }}" alt="" class="news-card__image">
     <div class="news-card__text-wrapper">
       <h2 class="news-card__title">{{ catfirs.title }}</h2>
       <div class="news-card__post-date">{{ catfirs.time }}</div>
       <div class="news-card__details-wrapper">
         <p class="news-card__excerpt">{{ catfirs.text }}</p>
         <a href="#" class="news-card__read-more">Read more <i class="fas fa-long-arrow-alt-right"></i></a>
       </div>
     </div>
   </div>
   {% endfor %}
    
    
      
      
    </div>
    <p class ="estetika2"> մազահեռացո </p>
    <div class="Glavni_div">
      </div>

  </div>

  {% endblock main %}